(
    spritesheet_width: 320,
    spritesheet_height: 200,
    sprites: [
        (
            x: 8,
            y: 37,
            width: 12,
            height: 11,
        ),
        (
            x: 21,
            y: 37,
            width: 12,
            height: 11,
        ),
    ],
)
