body {
	margin: 0px;
	padding: 0px;
	color: #000;
	background-color: #fff;
	font-size: 90%;
	font-family: verdana, arial, helvetica, Sans-Serif;
}

.top {
}

.title {
	background-color: #8e2400;
	color: white;
	padding: 10px;
	margin: 0px;
}

.title h1 {
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
}

.nav {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;

	color: #8e2400;
	background-color: #fff1ec;

    border-bottom-style: dashed;
    border-bottom-color: #ff9999;
	border-bottom-width: 1px;
}

.body {
	padding-left: 10px;
	padding-right: 10px;
}

a {
	color: #ea3a00;
	background-color: transparent;
	text-decoration: underline;
}

a:visited {
	color: #c63200;
	background-color: transparent;
}

a:hover {
	color: #ff6835;
	background-color: transparent;
	text-decoration: underline;
}

table.files td, table.classes td, table.modules td {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
}

table .even {
	background-color: #fff1ec;
}

table .headings * {
	font-weight: bold;
	background-color: #c63200;
	color: white;
}

table .name { font-weight: bold; }
table .desc { font-style: italic; }
.mixins a { font-weight: bold; }
table .namespace a { font-weight: bold; }

.footer {
    border-top-style: dashed;
    border-top-color: #ff9999;
	border-top-width: 1px;

	margin-top: 4em;
	padding-left: 10px;
	padding-top: 10px;
	text-align: left;
	line-height: 20px;
}

.footer a {
	margin-top: 50px;
	text-align: right;
	text-decoration: none;
}

.method-alphabet {
	margin: 1em;
}

.features dt {
	font-family: monospace;
}

.features dd {
	padding-bottom: 1em;
}

.features dl {
	padding: 0px;
	margin: 0px;
}

.features h4 {
	margin-top: 0px;
}

dt {
	font-weight: bold;
}

h2,h3,h4,h5, .heading { font-weight: bold; font-style: italic; font-family: "times new roman", serif; }
h1 { font-size: 200%; }
h2 { font-size: 150%; }
h3 { font-size: 125%; }
h4 { font-size: 112%; }

.classormodule {
	font-size: 90%;
	font-weight: normal;
}

a.source {
	text-decoration: none;
}

.id {
	font-family: monospace;
}

.id a {
	text-decoration: none;
}
